<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501354978484-q57f92a2r4n65f43qh622gc9qba5k2sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501354978484-q57f92a2r4n65f43qh622gc9qba5k2sf</string>
	<key>API_KEY</key>
	<string>AIzaSyCrsNOydmDkdCrPnGcQKTN25TdO3-BtvuI</string>
	<key>GCM_SENDER_ID</key>
	<string>501354978484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josafatmtz.firebase-iOS-authentication-example</string>
	<key>PROJECT_ID</key>
	<string>github-examples-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>github-examples-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501354978484:ios:5530b05258587d199b0be1</string>
	<key>DATABASE_URL</key>
	<string>https://github-examples-ios.firebaseio.com</string>
</dict>
</plist>